<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="UTF-8"/>
</head>

<body bgcolor="#7030A0">

<h1><font color=White> MindShare Neo Report</font></h1>

<form action="Submit" method="POST">
    <fieldset>
        <legend><font color=White> Select Report Name</font></legend>
        <select name="reports">
          <option value="Generate Jira Tickets">Generate Jira Tickets</option>
          <option value="NDP Reports">NDP Reports</option>
          <option value="Billing EMails">Billing</option>
          <option value="Adwords Reports">Adwords</option>
          <option value="DCM Impressions Tag Rajiv">Rajiv Impression Tag</option>
          <option value="DCM Impressions Tag Puneet">Puneet Impression Tag</option>
          <option value="DCM Impressions Tag Anchal">Anchal Impression Tag</option>
          <option value="DCM Impressions Tag Kritika">Kritika Impression Tag</option>
        </select>
        <label for="Start Date"><font color = white>Start Date</font> : </label>
        <input id="Start Date" type="date" value="YYYY-MM-DD"/>
        <label for="End Date"><font color = white>End Date</font> : </label>
        <input id="End Date" type="date" value="YYYY-MM-DD"/>
        <input type="submit">
    </fieldset>

</form>

</body>

</html>

