<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Home</title>
    <meta charset="UTF-8"/>
</head>
<body bgcolor="#7030A0">
<!--<img src="logo.jpeg" alt="HTML5 Icon" width="170" height="75">-->
<h1><font color=white> MindShare Neo Report Server</font></h1>
<form action="Submit" method="POST">
    <fieldset>
        <legend>Selecting elements</legend>
        <p>
            <label><font color=white>Report Name</font></label>
            <select name="myList">
                <option value=>NDP</option>
                <option value =>Email</option>
                <option value =>Generate Jira Tickets</option>
            </select>
            <!--<label for="Start Date"><font color = white>Start Date</font> : </label>
            <input id="Start Date" type="date" value="2011-01-01"/>
            <label for="End Date"><font color = white>End Date</font> : </label>
            <input id="End Date" type="date" value="2011-01-01"/>-->

            <input type="Submit" value="Submit">
        </p>
    </fieldset>
</form>
</body>
</html>
